.publications__id-profile {
  margin: 0;
  font-weight: 500;
  font-size: 15px;
}

.publications__wrapper-image {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.publications__avatar-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.publications__wrapper-top {
  padding: 10px;
  position: relative;
  display: flex;
}

.publications__icon {
  width: 20px;
  height: 20px;
}

.publications__link-location {
  text-decoration: none;
  color: rgb(0, 0, 0, 0.8);
  font-size: 13px;
  max-width: 20px;
  text-overflow: ellipsis;
}

.publications__button {
  border: none;
  background: none;
  padding: 0;
}

.publications__button-action-menu {
  border: none;
  background: none;
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translate(0,-50%);
}

.publications__wrapper-text {
  max-width: 250px;
}

.publications__item-image {
  width: 100%;
}

.publications__wrapper-bottom {
  padding: 10px;
}

.publications__wrapper-button {
  display: flex;
  justify-content: space-between;
  align-items:center;
}

.publications__button {
  margin-right: 10px;
}

.publications__button:last-of-type {
  margin-right: 0;
}

.publications__likes {
  margin: 10px 0 0;
  font-size: 700;
  font-size: 13px;
}