.header {
  max-width: 375px;
  background: #fff;
  position: fixed;
  width: 100%;
  z-index: 4;
}

.header__id-profile {
  margin: 0;
  font-size: 20px;
  font-family: 'Helvetica Neue';
  font-weight: 700;
}

.header__profile-wrapper {
  padding: 10px;
  height: 100%;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__publications-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items:center;
  justify-content: center;
  border-bottom: 1px solid rgba(190, 190, 190, 0.5);
  padding: 10px 0 10px;
  position: relative;
}

.header__publications-title {
  margin: 0;
  font-weight: 700;
  font-size: 15px;
}

.header__publications-id-profile {
  margin: 0;
  font-size: 13px;
  font-weight: 700;
  color:rgba(95, 93, 93, 0.7);
  text-transform: uppercase;
  margin-bottom: 2px;
}

.header__publications-button {
  width: 15px;
  height: 24px;
  padding: 0;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(10px,-50%);
  border: none;
  background: no-repeat center url('../../../images/icon/icon-left-arrow.svg');
}

.header__button-add-card {
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items:center;
  padding: 0;
  margin: 0 15px 0 0;
  border: none;
  background: no-repeat center/24px url('../../../images/icon/icon-plus.svg');
}

.header__icon-add-card {
  width: 25px;
  height: 25px;
}

.header__button-wrapper {
  display: flex;
  justify-content: space-between;
}

.header__subscribers-id-profile {
  margin: 0;
}