.login{
  position: fixed;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login__wrapper {
  margin: 0 30px;
  width: 100%;
  max-width: 315px;
}

.login__input {
  box-sizing: border-box;
  width: 100%;
  padding: 5px;
}

.login__input-wrapper {
  
  border-radius: 20px;
  position: relative;
  margin-bottom: 20px;
}

.login__input-wrapper:last-of-type {
  margin-bottom: 50px;
}

.login__input:focus ~ .login__label,
.login__input:not(:placeholder-shown) ~ .login__label{
  left: 0;
  top: -10px;
  font-size: 10px;
  line-height: 12px;
}


.login__greeting-text {
  margin: 0;
  font-size: 30px;
  margin-bottom: 50px;
  text-align: center;
}

.login__label {
  position: absolute;
  top: 50%;
  transform: translate(0,-50%);
  left: 10px;
  z-index: 1;
  color: #8B8B8B;
  transition: .3s;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
}

.login__button {
  padding: 5px;
  width: 100%;
}